/* You can add global styles to this file, and also import other style files */

/*body y font*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    background-image: url("assets/images/bg.jpg"); /* imagen de fondo */
    background-repeat: repeat;  /* Repite la imagen verticalmente */
    background-position: center; /* Centra la imagen */
    background-size: 100%;  /* Tamaño de la imagen ajustado al ancho */
    font-family: 'Lato', sans-serif;
}

/* Paleta de colores */

/* Colores de fondo */

/* Primario, primario ligero y oscuro. Secundario */
.bg-pri{
    background-color: #B60D14;
}

.bg-pri-l{
    background-color: #D60000
}

.bg-pri-d{
    background-color: #871414;  
}

.bg-sec{
    background-color: #CFB111;
}

/* Colores de bordes */

/* Primario, primario ligero y oscuro. Secundario */
.border-pri{
    border: 3px solid;
    border-color: #B60D14;
}

.border-pri-l{
    border: 3px solid;
    border-color: #D60000;
}

.border-pri-d{
    border: 3px solid;
    border-color: #871414;
}

.border-sec{
    border: 3px solid;
    border-color: #CFB111;
}

/* Estilos individuales */
#nav-logo{
    max-height: 125px;
    max-width: 125px;
}