<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel">Galería</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/images/menu/atun.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/res.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/sopa_langosta.jpg" class="img-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/images/menu/mignon.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/risotto_langosta.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/salmon.jpg" class="img-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/images/menu/pure.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/esparragos.JPG" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/cesar.jpg" class="img-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/images/menu/chocolate.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/tarta.JPG" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/quesos.jpg" class="img-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/images/menu/vino.png" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/brut.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/images/menu/coctel.jpg" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>