<footer class="container-fluid bg-secondary">

  <div class="mt-4 mb-2 row">

    <div class="col-6">
      <p>© 2024</p>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Features</a></li>
        <li><a href="#" class="nav-link">Pricing</a></li>
        <li><a href="#" class="nav-link">FAQs</a></li>
        <li><a href="#" class="nav-link">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Features</a></li>
        <li><a href="#" class="nav-link">Pricing</a></li>
        <li><a href="#" class="nav-link">FAQs</a></li>
        <li><a href="#" class="nav-link">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Features</a></li>
        <li><a href="#" class="nav-link">Pricing</a></li>
        <li><a href="#" class="nav-link">FAQs</a></li>
        <li><a href="#" class="nav-link">About</a></li>
      </ul>
    </div>

  </div>

</footer>