<section class="mt-4 mb-4">

    <div class="container bg-success">
      <h3 class="text-center text-primary pt-4">Get in touch</h3>
      <div class="container text-center text-white p-4 w-75 align-content-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, asperiores quidem? Voluptates molestias corporis repellendus reprehenderit tempora aut, vel corrupti adipisci unde nihil maxime ex perspiciatis ullam rem impedit at. <a href="#" class="text-primary">Download Now.</a>
        </p>
      </div>
  
      <div class="row">
  
        <form class="container w-50 col">
          <div class="form-group">
            <input type="text" class="form-control w-100 mb-4" placeholder="Your Name">
            <input type="email" class="form-control w-100 mb-4" placeholder="Enter Your Email">
            <textarea class="form-control w-100 mb-4" placeholder="Your Message"></textarea>
            <button class="btn btn-primary w-100 mt-4 mb-4">Submit</button>
          </div>
        </form>
  
        <div class="container w-50 col">
          <div class="bg-light p-2 mb-4">
            <h4>Address</h4>
            <p>123 Street New York, USA</p>
          </div>
          <div class="bg-light p-2 mb-4">
            <h4>Mail Us</h4>
          </div>
          <div class="bg-light p-2 mb-4">
            <h4>Telephone</h4>
            <p>+052 4441 7890</p>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </section>