<app-header></app-header>
<div class="container-fluid" id="fondo" style="background-image: url('assets/images/fondo.jpg');">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-12">
            <h1 class="text-warning display-4 fw-bold">Bienvenido a Moto-Shop</h1>
            <p class="lead text-white fw-bold">Explora el mundo de las motocicletas y lo mejor que tiene que ofrecer con nosotros.</p>
        </div>
    </div>
</div>
<app-motos></app-motos>
<app-footer></app-footer>