<section class="bg-warning">

  <div class="container">
    <h3 class="text-center">Area de fotos</h3>
    <p>
      lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam aliquid ad, quibusdam eos deleniti in voluptas, ex, magni ab sapiente laudantium recusandae consequatur eum doloremque nam amet beatae alias.
    </p>
    <p>
      lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam aliquid ad, quibusdam eos deleniti in voluptas, ex, magni ab sapiente laudantium recusandae consequatur eum doloremque nam amet beatae alias.
    </p>
    <p>
      lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam aliquid ad, quibusdam eos deleniti in voluptas, ex, magni ab sapiente laudantium recusandae consequatur eum doloremque nam amet beatae alias.
    </p>
    
    <button class="btn btn-primary">Go somewhere</button>
  </div>

</section>

<section class="bg-primary">
  <div class="container-fluid">
    <img src="../../../assets/IMG/X6-Web-Banner-1085156630.jpg" class="img-fluid" />
  </div>

  <div class="container text-white">
    <h4 class="text-center">ABOUT</h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" viewBox="0 0 24 24"><path fill="white" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files
      including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy cusomization.</p>
    <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email
      address to the contact form to make it fully functional!</p>
    <div class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" viewBox="0 0 24 24"><path fill="white" d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"/></svg>
      <p>Free Download!</p>
    </div>

  </div>
</section>

<section>

  <div class="card mt-2 bg-light">
    <div class="row">
      <div class="col-4 d-flex justify-content-start">
        <img src="../../../assets/IMG/carrorojo.JPG" class="img-fluid" />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio
            alias, quam nostrum architecto quae eius! Eaque nostrum optio deleniti pariatur molestiae laudantium vel
            expedita?
          </p>
          <p class="card-text text-center">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Go somewhere</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-2 bg-light">
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio
            alias, quam nostrum architecto quae eius! Eaque nostrum optio deleniti pariatur molestiae laudantium vel
            expedita?
          </p>
          <p class="card-text text-center">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Go somewhere</a>
          </p>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <img src="../../../assets/IMG/carrorojo.JPG" class="img-fluid float-right"/>
      </div>      
    </div>
  </div>

</section>

